html,
body {}

body {
    font-family: cursive;
}

#back-wood {
    background-image: url('src/images/back.jpg');
    background-size: cover;
    height: 800px;
}

.navbar {
    background-color: transparent !important;
    font-size: 15px;
    margin-left: 18%;
    color: rgb(236, 246, 255) !important;
}

.navbar-toggler {
    background-color: aliceblue !important;
    margin-right: 20%;
}

.navbar-brand {
    font-size: 15px !important;
    font-weight: bold;
    font-family: cursive;
    padding-right: 70px !important;
    color: aliceblue !important;
}

.nav-link {
    color: aliceblue !important;
    padding-left: 40px !important;
}

.nav-link:hover {
    color: grey !important;
}

.fa {
    padding: 10px !important;
    color: aliceblue !important;
}

.fa-envelope {
    padding-left: 70px !important;
}

.fa:hover {
    color: grey !important;
}

.page-header {
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 120px;
    color: aliceblue;
}

.transform-perspective-right {
    transform: scale(1) perspective(1040px) rotateY(-11deg) rotateX(2deg) rotate(2deg);
}

.transform-perspective-left {
    transform: scale(1) perspective(2000px) rotateY(11deg) rotateX(2deg);
}

#my-frame {
    max-width: 80%;
    height: auto;
}

#wave_hand {
    width: 4%;
    vertical-align: baseline;
}

#about_me {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
}

.progress {
    height: 20px !important;
}

.parallax {
    background-image: url("src/images/football.jpg");
    min-height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -21.4%;
    margin-right: -21.4%;
}

#experience {
    margin-left: 15%;
    margin-right: 15%;
}

.back_white_exp {
    background-image: url("src/images/pexels-dominika-roseclay-912396.jpg");
    background-size: cover;
}

#experience .card {
    margin-left: 10%;
    margin-right: 10%;
}

#education .card {
    margin-left: 10%;
    margin-right: 10%;
}

#pcbkingdome_pic {
    width: 80px;
}

#education {
    margin-left: 15%;
    margin-right: 15%;
}

.showcase_pic {
    background-image: url("src/images/bubbles.svg") !important;
    background-size: cover;
}

#showcases {
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 5%;
}

.carousel-item {
    height: 400px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects-pic {
    background-image: url("src/images/bubbles.svg") !important;
    background-size: cover;
}

#projects {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.card-title {
    color: rgb(87, 87, 255) !important;
}

.dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
}

.skillset_pic {
    background-image: url("src/images/bubbles2.svg");
    background-size: cover;
}

#skillset {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
}

#skillset .card {
    margin: 3%;
}

#skillset .card:hover {
    bottom: 15px;
}

.avatar {
    color: #fff;
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border-radius: 50%;
    height: 48px;
    width: 48px;
}

.avatar img {
    width: 100%;
    border-radius: 50%;
}

.avatar+.avatar-content {
    display: inline-block;
    margin-left: .75rem;
}

.avatar-lg {
    width: 58px;
    height: 58px;
    font-size: 1.75rem;
}

.avatar-sm {
    width: 38px;
    height: 38px;
    font-size: 0.875rem;
}

.avatar-group .avatar {
    position: relative;
    z-index: 2;
    border: 2px solid #adb5bd;
}

.avatar-group .avatar:hover {
    z-index: 3;
}

.avatar-group .avatar+.avatar {
    margin-left: -1rem;
}

#contact {
    margin: 15%;
    text-align: center;
}

@media only screen and (max-width:780px) {
    .navbar {
        margin-left: 5%;
    }
    .navbar-toggler {
        margin-right: 5%;
    }
    #back-wood {
        height: 1200px !important;
    }
    .page-header {
        margin-left: 10%;
        margin-right: 10%;
    }
    #my-frame {
        max-width: 90%;
        height: auto;
    }
    #experience .card {
        margin-left: 0%;
        margin-right: 0%;
    }
    #education .card {
        margin-left: 0%;
        margin-right: 0%;
    }
}